body{
	background-image: url(http://i.imgur.com/LGfqeRm.jpg);
	background-repeat: no-repeat;
	position: relative;
	height:2810px;
}

.heads{
	font-family: Verdana;
	font-size: 40px;
	font-weight: none;
	color: black;
	margin-left:331.5px;
	height: 100px;
	width:870px;
	text-align: center;
	text-decoration: underline;
	/*border-style:solid;
	border-color:blue;*/
}

#sidebar{	
	text-align: center;
	width: 140px;
	height: 300px;
	font-size:30px;
	left: 4px;
	top: 120px;
	position: fixed;
}
#sidebar p{
	font-size: 20px;
	margin-bottom: -10px;
}

div>a{
	font-size:20px;
	
}


#foot{
	text-align: center;
	margin-left: 331.5px;
	height: 20px;
	width:870px;
	position: absolute; 
	bottom: 0;
	/*border-style: solid;
	border-color: blue;*/
}


#sidebar a:hover {
	color: white;
	text-decoration: none;
}
#sidebar a:link{
	color: white;
	text-decoration: none;
}
#sidebar a:visited{
	color: white;
	text-decoration: none;
}


span div {
	position: relative;
	top: 275px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 300px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-align: center;
	overflow: hidden;
}




.player{
    border-width: 4px;
    border-style: solid;
    border-color: #2572FF;
}


#champ{
    border-width: 4px;
    border-style: solid;
    border-color: #FFB225;
}

#last_place{
    border-width: 4px;
    border-style: solid;
    border-color: #CC0000;
}

span div p {
	position: relative;
	margin-top: 40px;
	font-size: 12px;
}

span img{
    max-width: 100%;
    max-height: auto;
}

#descriptions{
	top: 420px;
	left: 450px;
	position: absolute;
	font-weight: bold;
}

#descriptions p{
	margin-top: 0px;
	margin-bottom: 98px;
	
}






